body {
  background-color: rgb(232, 241, 250);
  touch-action: manipulation;
}

.tile {
  width: 40px;
  height: 40px;
  line-height: 40px; // must be same as height to center
  border-color: rgb(82, 81, 81);
  border-width: 2px;
  border-style: solid;
  text-align: center;
  color: #000000;
  font-weight: bold;
  margin: 4px 2px 4px 2px;
}

#title {
  text-align: center;
}

@media (min-width: 800px) {
  .tile {
    width: 50px;
    height: 50px;
    line-height: 50px; // must be same as height to center
  }
}

.in-position {
  background-color: #459472;
  color: #ffffff;
  animation-name: flip;
  animation-duration: 2s;
}

.not-in-word {
  background-color: rgb(122, 126, 122);
  color: #ffffff;
  animation-name: flip;
  animation-duration: 2s;
}

.in-word {
  background-color: #deaf53;
  color: #ffffff;
  animation-name: flip;
  animation-duration: 2s;
}

h1 {
  font-size: 20px;
  margin: 0;
}

@media (min-width: 800px) {
  h1 {
    font-size: 35px;
  }
}

header {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f4f4f4;
}

#home-container {
  height: 80vh;
}

#code-container {
  margin-top: 100px;
}

#create-container {
  margin-top: 50px;
}

#button-container {
  margin: 20px;
}

.word-input {
  margin: 3px;
}

#game-board-name {
  font-size: 27px;
  font-family: "Nanum Brush Script", cursive;
  text-align: center;
  animation: fading 3s infinite alternate;
}

#wordle-name {
  min-width: 300px;
}

#wordle-desc {
  min-width: 300px;
}

#alert-container {
  height: 70%;
}

@media (min-width: 800px) {
  #game-board-name {
    font-size: 35px;
  }
}

//               ANIMATIONS
// .....................................

@keyframes flip {
  from {
    transform: rotateX(270deg);
  }
  to {
    transform: rotateX(360deg);
  }
}

@keyframes fading {
  from {
    color: #459472;
  }
  to {
    color: #456594;
  }
}

//               KEYBOARD
// .....................................

.keyboard {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  background: #346751;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  user-select: none;
  transition: bottom 0.4s;
}

.keyboard--hidden {
  bottom: -100%;
}

.keyboard__keys {
  text-align: center;
}

.keyboard__key {
  height: 45px;
  width: 8%;
  max-width: 90px;
  margin: 3px;
  border-radius: 4px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 1.05rem;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.keyboard__key:active {
  background: rgba(255, 255, 255, 0.12);
}

.keyboard__key--wide {
  width: 12%;
}

.keyboard__key--extra-wide {
  width: 36%;
  max-width: 500px;
}

.keyboard__key--activatable::after {
  content: "";
  top: 10px;
  right: 10px;
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.keyboard__key--active::after {
  background: #08ff00;
}

.keyboard__key--dark {
  background: rgba(0, 0, 0, 0.25);
}
